body {
    width: 400px;
    padding: 5px;
}

.spinner {
  width: 20px;
  height: 20px;
  margin: auto;
  border-width: 4px;
  border-style: solid;
  border-color: #fff #9b9b9b #9b9b9b;
  border-radius: 50%;
  -webkit-animation: spinning linear 1s infinite;
}

@keyframes spinning {
  from {
     -webkit-transform: rotate(0deg);
  }
  to {
     -webkit-transform: rotate(360deg);
  }
}