body {
    width: 400px;
    padding: 5px;
}

.spinner {
  width: 20px;
  height: 20px;
  margin: auto;
  border-width: 4px;
  border-style: solid;
  border-color: #fff #9b9b9b #9b9b9b;
  border-radius: 50%;
  -webkit-animation: spinning linear 1s infinite;
}

@keyframes spinning {
  from {
     -webkit-transform: rotate(0deg);
  }
  to {
     -webkit-transform: rotate(360deg);
  }
}

#login-settings {
    margin-bottom: 10px;
    background: rgb(221, 221, 221);
    color: rgb(54, 54, 54);
    border: none;
}
.notes-list .panel-title {
    font-size: 14px;
}
.notes-list .panel-body {
    padding: 0;
}
.notes-list .panel-heading {
    background: rgb(221, 221, 221);
}
.loader {
    margin-bottom: 10px;
}
.notes-input {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    padding: 10px;
}
